
<div class="container">
	<div class="row mt-8">
          <div class="col-12">
               <img src="img/homeIcon.png" class="imgIcon mt-3 col-1" >
               <p class="content-heading">
                    Seja bem vindo ao aplicativo de partidas de xadrez do Instituto de Computação. 
                    Para iniciar uma nova partida, clique na opção Nova Partida do menu superior. 
                    Essa aplicação foi desenvolvida para servir de modelo para o Trabalho prático da disciplina Programação Web 2. 
                    Caso encontre algum problema na aplicação, por favor avise o prof. David Fernandes.
               </p>
          </div>
	</div>
     <div class="row mb-5"> <h1>Usuários aguardando oponentes</h1></div>
<div class="card-deck matches">
  <div class="card">
    <img class="card-img-top imgs">
    <div class="card-body">
      <h5 class="card-title">Partida</h5>
      <p class="card-text">Criador da partida</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top imgs">
    <div class="card-body">
      <h5 class="card-title">Partida</h5>
      <p class="card-text">Criador da partida</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top imgs">
    <div class="card-body">
      <h5 class="card-title">Partida</h5>
      <p class="card-text">Criador da partida</p>
    </div>
  </div>
</div>
</div>
<link rel="stylesheet" href="css/home.css">
<style>
     .imgs{
          width: 200px;
          height: 200px;
          background: red;
          text-align: center;
          margin: 0 auto;
     }
</style>
<script src="js/home.js"></script>