<div class="container">
	<div class="row">
		<div class="col-lg-6">
<form>
  <fieldset>
    <legend><h1>Acesse sua conta</h1></legend>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Seu endereço de Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Senha de sua conta">
    </div>
	    <button type="submit" class="btn btn-primary btn-lg btn-block">Acessar</button>
    </fieldset>
</form>
	</div>
	</div>
</div>
<link rel="stylesheet" href="css/login.css">
