<div class="container">
    <div class="page-header">
        <h1>Erro 404 !</h1>
    </div>
    <div class="lead">
        <p>
            Página em questao não foi encontrada. Favor voltar a tela 
            principal para tentativa de um acesso para uma página válida
        </p>
    </div>
</div>