<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"  href="/css/main.css">
        <link rel="stylesheet"  href="/css/generic.css">
        <link rel="icon" href="/img/chess.ico">
        <title>Chess App</title>
    </head>
    <body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand"><h3><img class="logo" src="/img/chess.ico" style="width:36px" alt="" srcset="">&nbsp; Chess App</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

        {{#if user_data}}

          <li class="nav-item">
            <a class="nav-link" href="/partida">Nova Partida</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ranking">Ranking</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/curso">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout [{{user_data.nome}}]</a>
          </li> 
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>  
        {{/if}}          
        </ul>
      </div>
    </nav>
    <main role="main">
        {{{body}}}
    </main>
    <div class="container">
        
        <footer id="footer">
        <hr>
        <div class="row">
            <div class="col-lg-12">

            <ul class="list-unstyled">
                <li class="float-lg-right"><a href="#top">Voltar ao topo</a></li>
                <li><a href="https://github.com/Linux017/Chess">GitHub</a></li>
            </ul>
            <p>Made by Lino Mota.</p>
            <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

            </div>
        </div>
        </footer>
    </div>


    </body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="chessboardjs/chessboard-1.0.0.min.css">
    <script src="/chessboardjs/chessboard-1.0.0.min.js"></script>
    <script src="/chess/chess.min.js"></script>
</html>